.header-layout {
    padding: 13px 20px;

    .header-links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        a {
            color: white;
            text-decoration: none;
        }
    }
}