.homepage-container {
    width: 100%;
    height: 100vh;
    background-color: #0A0A0A;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1, p {
        color: white;
    }
}